/* ============================

	       OUR CUSTOM ADDED CSS

=============================== */
.container {
	max-width: 3000px;
    width: 100%;
}



/* Add Padding to page content
@media (min-width: 1024px) {
	.page-section {
		padding: 35px 5% !important;
}
}*/

@media (max-width: 580px) {
	.page-section {
		padding: 10px 0 !important;
	}
}

  .pageholder3 {
    padding-left: 0;
    padding-right: 0;
  }

  .panel {
    border-color: #550d8b;
  }

  .panel > .panel-heading {
    background-color: #550d8b;
    border-color: #550d8b;
    color: white;
    padding: 2px 15px;
  }

  .panel-heading a {
    color: white !important;

  }

  .panel > .panel-body a {
	color: #9d1ff9;

  }

  .panel-heading h3 {
    font-size: 17px !important;
    font-weight: 300;
	color: #FFF !important;
    line-height: 0 !important;
    margin: 0px 5px 5px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1em !important;
    font-weight: bold;
	padding-bottom: 0px !important;
  }



    .controls-ribbon {
      margin-top: -38px;
      margin-right: -7px;
      float: right;
      position: relative;
      min-width: 100px !important;
      width: 20%;
      height: 0;
      right: -9px;
      top: 6px;
      border-width: 18px 15px;
      border-radius: 0 4px;
      border-style: solid;
      border-color: #ecaa00 #ecaa00 #ecaa00 transparent;
  }

    .controls  {
      float: right;
      font-size:1.5em;
      letter-spacing: .04em;
      margin-top: -22px;
      margin-right: -7px;
    }
    body {
      font-size: 14px;

    }

    .light-bg {
      background: #faefdb;
    }

    .page-section {
      padding: 35px 0;
    }

#explore {
	margin: 0 0;
}

#LeftMenu {
	max-height: none;
}

@media (max-width: 974px) {
	 #top-bar {
		display: none;
	}


 }

@media (max-width: 767px) {
	h1 {
		font-size: 1.8em !important;
	}

	h2 {
		font-size: 1.7em !important;
	}

	h3 {
		font-size: 1.6em !important;
	}

	h4 {
		font-size: 1.5em !important;
	}

	h5 {
		font-size: 1.4em !important;
	}

	#explore {
		font-size: 18px !important;
	}

	p {
		font-size: 14px !important;
	}
}




/* Left Nav Styles */
.nav a:visited {
  color: #895da8;

}

.widget a, .widget a:visited {font-weight: bold;}
.widget a, .widget a:hover {color: #9d1ff9;}

.list-group-submenu a {
  font-weight: 500;
}


@media (min-width: 768px) {
	#explore {display: none;}
	.left-navbar-toggle {display: none;}
	
	.top-bar-section.top-logo-left .top-social-icon a {
	line-height: 50px !important;
}

}

@media (max-width: 767px) {
	#sect-name {display: none;}
	#sidebar {
	  padding-top: 15px;

	}
	
	.footer-social {
		text-align:center !important;
		padding-top: 0px !important;
	}

}

.footer-social {
		margin-top: 0px !important;
	}

.widget a {
	color: #9d1ff9;
}

.icon-plus-circle.selected::before {
	  content: "\f2dc";
	}
	
#submit-button{
			margin-top: 0px;
			background-color: #550d8b;
			font-weight:bold;
		}
		
#submit-button:hover{
	background-color: #f5a705;
	color: #550d8b;
	font-weight:bold;
}	




/* End Left Nav Styles */
