/****************************************************
Custom CSS
****************************************************/
.text-purple{
	color:#550d8b !important;
}
.text-purple h6{
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}
/****************************************************
Give the modal the proper CSS
****************************************************/
.modal{
/*    top: 20% !important;*/
    z-index: 10000 !important;
}
.modal-backdrop{
    z-index: 9999 !important;
}
.modal-heading-style {
    background-color: #550d8b !important;
    border-color: #550d8b !important;
    color: white !important;
    border-radius: 5px 5px 0px 0px !important;
}
.panel-heading{
    color: white; !important;
}
.insertSwitches label{
    margin-bottom: 0px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.close-color-white{
	color: white !important;
	text-shadow: none !important;
    opacity: 372 !important;
}
.close-btn{
	margin-right: 7px !important;
    margin-top: 7px !important;
}
/*This is for the pencil icon/button that floats on the bottom right of the page*/
.bottom-right{
    bottom: 45px !important;
    right: 25px !important;
}
.fixed-action-btn {
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
    opacity: 0.5;
    filter: Alpha(opacity=50); /* IE8 and earlier */
}

.fixed-action-btn:hover{
    -webkit-transition: all 0.15s ease-in-out 0.15s;
    -moz-transition: all 0.15s ease-in-out 0.15s;
    -ms-transition: all 0.15s ease-in-out 0.15s;
    -o-transition: all 0.15s ease-in-out 0.15s;
    transition: all 0.15s ease-in-out 0.15s;
    opacity: 1;
}

.icons-bg-color i:hover{
  background-color: rgba(255,196,0,1);
}

/****************************************************
Bootstrap tour css
****************************************************/
.tour-backdrop {
  z-index: 10001;
}

.tour-step-backdrop {
  z-index: 10001;
}

.tour-step-background {
  z-index: 10001;
}

.popover[class*="tour-"] {
  z-index: 10001;
}
/****************************************************
Custom Columns for the switches and screen sizes
****************************************************/
@media only screen and (max-width: 767px) and (min-width: 480px){
  .col-exs-1 {width: 8.33%;}
  .col-exs-2 {width: 16.66%;}
  .col-exs-3 {width: 25%;}
  .col-exs-4 {width: 33.33%;}
  .col-exs-5 {width: 41.66%;}
  .col-exs-6 {width: 50%;}
  .col-exs-7 {width: 58.33%;}
  .col-exs-8 {width: 66.66%;}
  .col-exs-9 {width: 75%;}
  .col-exs-10 {width: 83.33%;}
  .col-exs-11 {width: 91.66%;}
  .col-exs-12 {width: 100%;}
  .col-exs-1,.col-exs-2,.col-exs-3,.col-exs-4,.col-exs-5,.col-exs-6,.col-exs-7,.col-exs-8,.col-exs-9,.col-exs-10,.col-exs-11,.col-exs-12{
    float: left;
  }
}

@media only screen and (max-width: 479px){
  .col-xxs-1 {width: 8.33%;}
  .col-xxs-2 {width: 16.66%;}
  .col-xxs-3 {width: 25%;}
  .col-xxs-4 {width: 33.33%;}
  .col-xxs-5 {width: 41.66%;}
  .col-xxs-6 {width: 50%;}
  .col-xxs-7 {width: 58.33%;}
  .col-xxs-8 {width: 66.66%;}
  .col-xxs-9 {width: 75%;}
  .col-xxs-10 {width: 83.33%;}
  .col-xxs-11 {width: 91.66%;}
  .col-xxs-12 {width: 100%;}
  .col-xxs-1,.col-xxs-2,.col-xxs-3,.col-xxs-4,.col-xxs-5,.col-xxs-6,.col-xxs-7,.col-xxs-8,.col-xxs-9,.col-xxs-10,.col-xxs-11,.col-xxs-12{
    float: left;
  }
}
  .col-exs-1,
  .col-exs-2,
  .col-exs-3,
  .col-exs-4,
  .col-exs-5,
  .col-exs-6,
  .col-exs-7,
  .col-exs-8,
  .col-exs-9,
  .col-exs-10,
  .col-exs-11,
  .col-exs-12,
  .col-xxs-1,
  .col-xxs-2,
  .col-xxs-3,
  .col-xxs-4,
  .col-xxs-5,
  .col-xxs-6,
  .col-xxs-7,
  .col-xxs-8,
  .col-xxs-9,
  .col-xxs-10,
  .col-xxs-11,
  .col-xxs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

/*OTHER CSS AND THINGS*/
/****************************************************
Other CSS and Random things. I.E. Weather Widget
****************************************************/
#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather h2 {
  margin: 0 0 8px;
  color: #000;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #faf4e8;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}
